p {
    margin: 0px;


}

.graph-container {
    position: relative;
    height: 350px;
    width: 550px;
    display: flex;
    align-items: center; 

}
.graph-title {
    display: flex;
    align-items: center; /* Alinha o texto verticalmente no centro */
    justify-content: center; /* Alinha o texto horizontalmente no centro */
    text-align: center;
    position: absolute;
    width: 550px;

}