.foot-container {
    padding-left: 18px;
    padding-right: 18px;
    height: 70px;
    display: flex;
    background-color: #014087;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.text-footer {
    margin-bottom: 0;
    min-width: 400px;
    
}
a {
    color: white;
}
.info-foot {
    display: contents;
}