body {
    font-family: 'Inter'
  }
  
  .container-first {
    /* display: grid; */
    /* margin: auto; */
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    row-gap: 20px;
    justify-content: center; /* centraliza horizontalmente */
    margin: 0 auto; 
  
  
    /* overflow: hidden; */
  }
  
  .grid-system-selection {
      margin: 10px 10px 0px 10px;
      
  }
  
  .background-molecule {
    width: 70%;
    align-content: center;
    border: 2px solid #00254E;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
  }
  
  .table-1 {
    justify-self: center;
    align-items: center;
      margin: 10px 10px 0px 10px;
  }
  
  .dde {
    align-self: center;
    margin: 10px 10px 10px 10px;
    width: 100%;
  
  
    /* grid-column-start: 2; */
  
  
  }
  
  .ddelog {
    align-self: center;
   margin: 10px 10px 10px 10px;
   justify-content: center;
  
  }
  
  .table-2 {
    text-align: left;
    align-self: center;
    margin: 10px 10px 10px 10px;
    grid-column-start: 1;
    grid-column-end: 2 ;
  
  }
  