body {
    font-family: 'Inter'
  }
  
  .container-first {
    /* display: grid;
    align-self: center;
    width: 90%;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 15px;
    row-gap: 20px;
    margin-left: 10%; */
    display: grid;
    width: 100%;
    grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr) minmax(200px, 2fr);
    gap: 15px 20px;
    margin: 0 auto;
    place-items: center;
  
  
    /* overflow: hidden; */
  }
  
  .grid-system-selection {
      margin: 10px 10px 0px 10px;
      
  }
  
  .background-molecule {
    width: 70%;
    align-content: center;
    border: 2px solid #00254E;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
  }
  
  .table-1 {
    justify-self: center;
    align-items: center;
      /* margin: 10px 10px 0px 0px; */
    margin-left: 55px;
  }
  
  .dde {
    align-self: center;
    margin: 10px 10px 10px 10px;
    width: 100%;
  
  
    /* grid-column-start: 2; */
  
  
  }
  
  .ddelog {
    align-self: center;
   margin: 10px 10px 10px 10px;
   justify-content: center;
  
  }
  
  .table-2 {
    text-align: left;
    align-self: center;
    margin: 10px 10px 10px 10px;
    grid-column-start: 1;
    grid-column-end: 2 ;
  
  }
  