@import 'material-symbols';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.selector > p {
    margin-block: auto;
}


.selector {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-row-gap: 7px; */

    background-color: #C7DCE5;
    border-radius: 10px;
    height: 200px;
    width: 100%;

    padding: 15px;
}

.system-selection, .database-selection{
    align-items: center;
    display: flex;
    border-bottom: #00254E 2px solid;
    justify-content: space-between;
    height: 50px;
}

.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 38px;
    display: flex;
    justify-content: left; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    text-align: center;
}

.grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 30px;
    justify-content: right;
}

.grid-item-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 30px;
}

.grid-item-4 {
    width: 210px;
    display: flex;
    justify-content: left; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    text-align: center;
}

.grid-item-6 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 30px;
}

#select-menu {
    background-color: #C7DCE5;
    background-image: url("./arrow_down.svg");
    background-size: 32px;
    background-position: right;

    border-color: #C7DCE5;

    text-align: right;
    width: 250px;
}
