.table1{
    background-color:#C7DCE5;
    width: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-spacing: 0px;
    text-align: center;
    border-spacing: 0;
    table-layout: fixed; /* Distribuir as larguras igualmente */
    border-collapse: collapse; /* Garantir que as bordas colapsem, eliminando espaços extras */
    overflow: hidden;
    font-weight: normal;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.table1-rest {
    background-color:#C7DCE5;
    width: 90%;
    border-spacing: 0px;
    text-align: center;
    border-spacing: 0;
    /* table-layout: fixed; Distribuir as larguras igualmente */
    border-collapse: collapse; /* Garantir que as bordas colapsem, eliminando espaços extras */
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: normal;
}
th, td {
    width: 50%;
    padding: 5px; /* Espaçamento interno das células */
    box-sizing: border-box; /* Garantir que o padding seja incluído no cálculo da largura */
    font-weight: inherit;
}



.first-row {
    width: 100%;
}
.second-row {
    background-color: #C7DCE5;
    width: 100%;
    border-spacing: 0px;

}

.table1-header {
    background-color: #014087; /* Tom de azul mais escuro */
    border-radius: 10px;
    color: white;
}
thead {

    background-color: #014087; /* Tom de azul mais escuro */
    color: white;

 }

.cell {
    background-color: #C7DCE5;
    color: black
}

.cell2 {
    background-color: #014087;
    color: white;
}

.charge-table {
    background-color:#C7DCE5;
    width: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-spacing: 0px;
    text-align: center;
    border-spacing: 0;
    table-layout: fixed; /* Distribuir as larguras igualmente */
    border-collapse: collapse; /* Garantir que as bordas colapsem, eliminando espaços extras */
    overflow: hidden;
    font-weight: normal;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-input {
    width: 90px;
}

.button-style {
    background-color:#014087;
    color: white;
    border-radius: 5px;
    border: 2px solid;
    border-color: #00254E ;

    
}

.button-style:hover {
    background-color:#8EB2D9;
    color: black;

}
