.ph-selection {

    height: 30px;
    margin: 8px 0px;
    display: contents;
}

.ph-selection > p {
    text-align: left;
}

#ph-input{
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 55px;
}

#ph-input:focus{
    outline: none;
    text-align: center;
}
#c-input{
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 55px;
}

#c-input:focus{
    outline: none;
    text-align: center;
}
.table2{
    background-color:#C7DCE5;
    width: 100%;
    border-radius: 10px;
    border-spacing: 0px;
    text-align: center;
    border-spacing: 0;
    table-layout: fixed; /* Distribuir as larguras igualmente */
    border-collapse: collapse; /* Garantir que as bordas colapsem, eliminando espaços extras */
    font-weight: normal;
    overflow: visible;
}

 /* Criando os texto ao passar o mouse emcima */
 .tooltip-container {
    position: relative;
    display: inline-block;  
}

.tooltip-container .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #00254E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    overflow: visible;
    
    
    /* Position the tooltip */
    position: absolute;
    z-index: 9999;
    top: -5px;
    left: 105%;
  }
  
  .tooltip-container:hover .tooltiptext {
    visibility: visible;
    overflow: visible;
    z-index: 9999;

  }

  .tables-container-grid {
    overflow: visible; /* Permite que o tooltip fique visível fora dos limites */
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: auto;
    gap: 21px;
    grid-template-areas: 
        "item-1 item-1 item-1 item-3 item-3"
        "item-1 item-1 item-1 item-2 item-2"



  }

  .table-alfas {
    grid-area: item-1;
  }

  .tables-charges {
    grid-area: item-2;
  }
  .tables-buffer {
    grid-area: item-3;
    width: 100%;

  }

