body {
  font-family: 'Inter'
}

.container-first {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;

}

.background-molecule {
  border: 2px solid #00254E;
  border-radius: 10px;
  width: 388px;
  text-align: center;
  justify-content: center;
  margin-left: 97px;
  font-size: 1.25rem;
}

.table-1 {
  margin-left: 97px;
  width: 557px;
  /* border: 2px solid #C7DCE5;
  border-radius: 20px; */
}

.container-second {
  display: flex;
  height: 500px;
  align-items: center;
}

.table-2 {

  width: 950px;
  margin-left: 10px;


}
.dde {
  margin-left: 142px;
  width: 1050px;
  font-size: 1.25rem;
  margin-right: 110px;
}